.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  height: 100%;
  width: 100%;
} 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  background: rgb(252,95,22);
  background: linear-gradient(90deg, rgba(252,95,22,1) 60%, rgba(255,157,27,1) 78%);
  height: auto;
}
.navbar-collapse{
  background: rgb(252,95,22);
  background: linear-gradient(90deg, rgba(252,95,22,1) 60%, rgba(255,157,27,1) 78%);
  width: 100%;
}
.nav-link{
  width: 100px

}
#logo{
  margin-left: 50%;
}

#carouselExampleControls{

 
width: 91%;
 margin-top: 1%;
 /* /* border:1px solid black */
}

.carousel-indicators li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: white;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
  width: 15px;
  height: 15px;
  margin: 10px;
  background-color: rgba(252,95,22,1);
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 15px;
  width: 15px;

}
#plan{
  background: rgb(252,95,22);
  background: linear-gradient(90deg, rgba(252,95,22,1) 60%, rgba(255,157,27,1) 78%);
  ;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1%;
  margin-bottom: 2%;
  width:100%;
  height: 50px;
 
}
#cplant{
margin-top: -1%;
margin-bottom: -2%;
}
#dplant{
  margin-top: 2%;
}
#rm{
  border-radius: 12px;
  width: 200px;
}

#cardhed{
  background: rgb(252,95,22);
  border-radius: 12px;
}
#cardhed:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
#planbutton{
  background: rgb(252,95,22);
  width: 80%;
  border-radius: 12px;
  color: white;
}
#orderbutton{
  background: rgb(252,95,22);
  width: 7%;
  border-radius: 1px;
  margin-left: 1%;
  margin-right: 1%;
  color: white;
}
#orderbutton:hover{
  box-shadow: 0 0 11px rgb(255, 255, 255);
  background-color:  rgb(255, 255, 255);
  border: 1px solid rgb(252,95,22);
  color:rgb(252,95,22);
  
}

#planbutton:hover{
  box-shadow: 0 0 11px rgb(255, 255, 255);
  background-color:  rgb(255, 255, 255);
  border: 1px solid rgb(252,95,22);
  color:rgb(252,95,22);
  
}
#plandeck{
 width: 70%;
}
#cardplan{
   max-width: 30%;
  min-width: 30%;
  max-height: 30%;
  min-height: 30%;
  margin-top: 5%;

}
#cardplan:hover{
  box-shadow: 0 0 11px rgba(255, 94, 0, 0.849);
}
#carddevice{
  max-width: 20%;
  min-width: 20%;
  max-height: 15%;
  min-height: 15%;
  margin-top: 5%;
 
}
#carddevice:hover{
  box-shadow: 0 0 11px rgba(255, 94, 0, 0.726);
}
#devicedeck{
  width:75%;
 margin-left: 17%;
 
  
}
.page-footer{
  background: rgb(252,95,22);
  background: linear-gradient(90deg, rgba(252,95,22,1) 60%, rgba(255,157,27,1) 78%);


margin-top: 1%;
  
width:80%;
margin-left: 10%;

}
#footer{
  background: rgb(252,95,22);
  background: linear-gradient(90deg, rgba(252,95,22,1) 60%, rgba(255,157,27,1) 78%);

}

#devicephp{
  
  height: 250px;
}
.img-fluid{
  max-width: 100%;
   min-width: 100%;
  
   min-height: 50%;
   margin-left: auto;
   margin-right: auto;
   
}
#plant{
  margin-top: 1%;
  
}
#ordercard{
  align-content: center;
  margin-top: 1%;
}
#principalplan{
  margin-top: 40%;
}
#devicet{
  margin-top: 15%;
}
#dropdownd{
  width: 70%;
  
  align-self: center;
}
#dropdownc{
  width: 80%;
  
  
  align-self: center;
}

#ordercard{
  width: 70%;
}
#detailscard{
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  color: rgb(252,95,22);

}
#detail1{
  border: 1px solid rgb(252,95,22);
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}
#detail11{
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  border: 0px;

}
#summarycard{
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  

}



#height{
  width: 70px;
  color:white;
  background: rgb(252,95,22);
  border-radius: 12px;
  margin-left: 1%;
}
#pland{
  background: rgb(252,95,22);
  background: linear-gradient(90deg, rgba(252,95,22,1) 60%, rgba(255,157,27,1) 78%);
}
#planc{
  background: rgb(252,95,22);
  background: linear-gradient(90deg, rgba(252,95,22,1) 60%, rgba(255,157,27,1) 78%);

}
#plandt{
  margin-top: 40%;
  width: 65%;
  border-radius: 12px;
  
}
#plandc{
  margin-top: 15%;
  width: 65%;
  border-radius: 12px;
  
}
#orderde{
  margin-top: 5%;
width: 410px;
border: 0px solid black;
}
#portinc{
  margin-top: 1%;
  /* background: rgb(252,95,22); */
  border-radius: 12px;
  width: 20%;
  height: 60px;
  color:rgb(252,95,22);
 
}
#tabfont{
  width: 100%;
  font-size: 19px;
  
}
#selectedtab{
  width: 30%;
  color:white;
  background: rgb(252,95,22);
  border-radius: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1%;  
 
  
}
#nonselectedtab{
  width: 30%;
  background: white;
  border: 1px solid rgb(252,95,22);
  border-radius: 50px;
  color:rgb(252,95,22);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1%;
  
}


#space{
  width:50%;
  
 
}
#colorline{
  width: 25px;
  height: 1px;
  margin-top: 2.5%;
  
  border:1px solid rgb(252,95,22) ;
}
#noncolorline{
  width: 25px;
  height: 1px;
  margin-top: 2.5%;

  border:1px solid rgb(252,95,22) ;
}




@media only screen and (max-width: 1366px) {

  #cardplan{
    max-width: 30%;
   min-width: 30%;
   max-height: 5%;
   min-height: 5%;
   margin-top: 5%;
 
 }
 #plandeck{
  width: 95%;
 }
 #carddevice{
  max-width: 30%;
  min-width: 30%;
  max-height: 15%;
  min-height: 15%;
  margin-top: 5%;
 
}
#devicedeck{
  width:80%;
margin-left: auto;
margin-right: auto;
 
  
}
#ordercard{
  width: 90%;
}
#orderde{
  width: 350px;
}
#orderbutton{
 
  width: 10%;
 
}
#tabfont{
  width: 100%;
  font-size: 25px;
  
}
#selectedtab{
 
  color:white;
  background: rgb(252,95,22);
  border-radius: 50px;
  
  margin-bottom: 1%;  
 
  
}
#nonselectedtab{

  background: white;
  border: 1px solid rgb(252,95,22);
  border-radius: 50px;
  color:rgb(252,95,22);

  margin-bottom: 1%;
  
}


#space{
  width:80%;
  
  
 
}
#colorline{
  width: 25px;
  height: 1px;
  margin-top: 3%;

  border:1px solid rgb(252,95,22) ;
}
#noncolorline{
  width: 25px;
  height: 1px;
  margin-top: 3%;

  border:1px solid rgb(252,95,22) ;
}
#detailscard{
  width: 80%;
  

}
#summarycard{
  width: 80%;
  

}
}
@media only screen and (max-width: 375px) {
  #cardplan{
    max-width: 80%;
   min-width:80%;
   max-height: 5%;
   min-height: 5%;
   margin-top: 5%;
 
 }
 #plandeck{
  width: 95%;
 }
 #carddevice{
  max-width: 100%;
  min-width: 100%;
  max-height: 5%;
  min-height: 5%;
  margin-top: 5%;
 
}
#tabfont{
  
  font-size: 25px;
  
}




}
@media only screen and (max-width: 360px) {
 
  #cardplan{
    max-width: 80%;
   min-width:80%;
   max-height: 5%;
   min-height: 5%;
   margin-top: 5%;
 
 }
 #plandeck{
  width: 95%;
 }
 #carddevice{
  max-width: 100%;
  min-width: 100%;
  max-height: 5%;
  min-height: 5%;
  margin-top: 5%;
 
}


#dropdownd{
  width: 75%;
  
  align-self: center;
}
#dropdownc{
  width: 85%;
  align-self: center;
}
#detailscard{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  margin-top: 2%;

}
#summarycard{
  margin-top: 2%;
  width: 95%;
}





#ordercard{
  margin-left: 1%;
  margin-bottom: 1%;
}






}
@media only screen and (max-width: 411px) {
  #cardplan{
    max-width: 80%;
   min-width:80%;
   max-height: 5%;
   min-height: 5%;
   margin-top: 5%;
 
 }
 #plandeck{
  width: 95%;
 }
 #carddevice{
  max-width: 100%;
  min-width: 100%;
  max-height: 5%;
  min-height: 5%;
  margin-top: 5%;
 
}







}
@media only screen and (max-width: 414px) {
  #cardplan{
    max-width: 80%;
   min-width:80%;
   max-height: 5%;
   min-height: 5%;
   margin-top: 5%;
 
 }
 #plandeck{
  width: 95%;
 }
 #carddevice{
  max-width: 100%;
  min-width: 100%;
  max-height: 5%;
  min-height: 5%;
  margin-top: 5%;
 
}



}
@media only screen and (max-width: 768px) {

#rm{
  border-radius: 12px;
  width: 150px;
}
  #cardplan{
    max-width: 30%;
   min-width:30%;
   max-height: 5%;
   min-height: 5%;
   margin-top: 5%;
   margin-left: auto;
margin-right: auto;
 
 }
 #plandeck{
  width: 95%;
 }
 #carddevice{
  max-width: 45%;
  min-width: 45%;
  max-height: 10%;
  min-height: 10%;
  margin-top: 5%;
 
}
#tabswt{
  margin-top: 1%;
  width: 90%;
  height: 100px;
  border:0px ;
 
}
#ordercard{
  width: 100%;
}
#orderde{
  margin-top: 5%;
	width: 250px;
border: 0px solid black;
}
#orderbutton{
  background: rgb(252,95,22);
  width: 20%;
  border-radius: 1px;
  margin-left: 1%;
  margin-right: 1%;
  color: white;
}





}
@media only screen and (max-width: 1024px){
  #tabfont{
    width: 100%;
    font-size: 25px;
    
  }
  
  
  
  
  #space{
    width:70%;
    
   
  }
  #colorline{
   
    margin-top: 5.5%;
    
  
  }
  #noncolorline{
    
    margin-top: 5.5%;
  
  
  }
  
}
@media only screen and (max-width: 450px) {

  #carddevice{
    max-width: 28%;
    min-width: 28%;
    max-height: 10%;
    min-height: 10%;
    margin-top: 5%;
   
  }
  

  }

  @media only screen and (max-width: 450px) {
    #cardplan{
      max-width: 80%;
     min-width:80%;
    max-height: 5%;
     min-height: 5%;
     margin-top: 5%;
   
   }
   #plandeck{
    width: 95%;
   }
   #carddevice{
    max-width: 100%;
    min-width: 100%;
    max-height: 5%;
    min-height: 5%;
    margin-top: 5%;
   
  }
  #tabfont{
    width: 100%;
    font-size: 15px;
    
  }
  #selectedtab{
    width: 30%;
    color:white;
    background: rgb(252,95,22);
    border-radius: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;  
   
    
  }
  #nonselectedtab{
    width: 30%;
    background: white;
    border: 1px solid rgb(252,95,22);
    border-radius: 50px;
    color:rgb(252,95,22);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
    
  }
  
  
  #space{
    width:80%;
    
   
  }
  #colorline{
    width: 10px;
    height: 1px;
    margin-top: 5.5%;
    
    border:1px solid rgb(252,95,22) ;
  }
  #noncolorline{
    width: 10px;
    height: 1px;
    margin-top: 5.5%;
  
    border:1px solid rgb(252,95,22) ;
  }
  
 
 
  
  
  
 
  

}

@media only screen and (max-width: 600px) {
  #cardplan{
    max-width: 80%;
   min-width:80%;
  max-height: 5%;
   min-height: 5%;
   margin-top: 5%;
 
 }
 #plandeck{
  width: 95%;
 }
 #carddevice{
  max-width: 100%;
  min-width: 100%;
  max-height: 5%;
  min-height: 5%;
  margin-top: 5%;
 
}
.navbar{
  
  height: 40%;
}
#portinc{
  
  border-radius: 12px;
  width: 50%;
  
 
}
#number{
 
  width: 100%;
  color:white;
  background: rgb(252,95,22);
  border-radius: 12px;
  margin-left: 1%;
}
#orderbutton{
 
  width: 20%;
 
}
#principalplan{
  margin-top: 10%;
}
#plandt{
  margin-top: 1%;
  width: 60%;
  border-radius: 12px;
  
}
#devicet{
  margin-top: 10%;
}
#orderde{
  margin-top: 5%;
width: 200px;
border: 0px solid black;
}

#plandc{
  margin-top: 1%;
  width: 60%;
  border-radius: 12px;
  
}
#tabs{
  width: 100%;
}
#tabfont{
  width: 100%;
  font-size: 15px;
  
}

#selectedtab{
  width: 30%;
  color:white;
  background: rgb(252,95,22);
  border-radius: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2%;  
 
  
}
#nonselectedtab{
  width: 30%;
  background: white;
  border: 1px solid rgb(252,95,22);
  border-radius: 50px;
  color:rgb(252,95,22);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2%;
  
}


#space{
  width:80%;
  
 
}
#colorline{
  width: 10px;
  height: 1px;
  margin-top: 5.5%;
  
  border:1px solid rgb(252,95,22) ;
}
#noncolorline{
  width: 10px;
  height: 1px;
  margin-top: 5.5%;

  border:1px solid rgb(252,95,22) ;
}



}





